<button><a href="/new-user">Add a new user</a></button>

<% users.forEach(function(item){ %>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= item.name %>
                </h5>
                <p class="card-text">
                    <%= item.email %>
                </p>
                <form action="/user-profile/<%= item.id %>?name=<%= item.name %>&email=<%= item.email %>" method="get">
                    <button type="submit" class="btn btn-primary">Edit user</button>
                </form>
                <form action="/delete-user/<%= item.id %>" method="post">
                    <button type="submit" class="btn btn-primary">Delete user</button>
                </form>
            </div>
        </div>
    </div>
    <% }) %>